.container {
  display: grid;
  grid-template-columns: 250px auto 300px;
  height: 100%;
}

.search-results {
  display: flex;
  justify-content: center;
  max-width: 480px;
  padding: 10px 20px 0;
}

.search-results ion-label {
  font-size: 14px;
}

h1 {
  font-size: 20px;
  text-align: center;
}

.results-card {
  height: 80vh;
  overflow: auto;
}

ion-card-title {
  padding: 0 0 10px;
}

ion-label.sc-ion-label-md-h {
  margin: 6px 8px;
}

/* TreeView Styles */

.treeview {
  border-right: 1px solid #eee;
  font-size: 14px;
  overflow: auto;
  padding: 20px 0 100px;
}

.treeview > ul {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  display: none;
}

li {
  display: block;
  margin: 0;
  padding: 0 0 0 16px;
}

.collapsible-directory {
  cursor: pointer;
}

img {
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.expanded > .collapsible-directory img {
  transform: rotate(45deg);
}

.expanded > ul {
  display: block;
}

.item-container {
  border-color: transparent;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  margin: 1px 0 1px .3333em;
  padding: .429em .6667em .429em .5833em;
  line-height: 1.3333em;
  text-decoration: none;
  vertical-align: middle;
}

.item-container--selected,
.item-container:hover,
.item-container:active {
  background-color: #ebebeb;
}

.directory {
  background-image: url(./assets/images/treeview-sprite.png);
  background-position: 0 -16px;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  width: 16px;
  height: 16px;
}

.pdf {
  background-image: url(./assets/images/treeview-sprite.png);
  background-position: 0 -32px;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin-right: 3px;
}

.pdf-match {
  color: #808080;
  display: block;
  font-size: 12px;
}

.pdf-match.item-container--selected {
  background-color: transparent;
}

.preview-holder {
  width: 300px;
  padding: 20px 20px 0 0;
}

.preview-holder > img {
  border: 1px solid #dcdcdc;
  height: initial;
  width: 300px;
}
