ion-toolbar.ion-color-primary {
  --ion-color-base: #fff !important;
}

ion-toolbar {
  align-items: flex-end;
}

.e-bundle {
  text-align: end;
}

.header-md:after {
  background-image: none;
  bottom: -8px;
  border: 8px solid #333;
  height: 10px;
}

.header img {
  height: initial;
  width: initial;
}

.container {
  display: grid;
  grid-template-columns: auto 400px;
  height: 100%;
}

.search-results {
  display: flex;
  justify-content: center;
  padding: 10px 20px 0;
}

.search-results ion-label {
  font-size: 14px;
}

h1 {
  font-size: 20px;
  text-align: center;
}

.results-card {
  height: 80vh;
}

ion-card-title {
  padding: 0 0 10px;
}

ion-label.sc-ion-label-md-h {
  margin: 6px 8px;
}

ion-list {
  overflow: auto;
  height: calc(80vh - 58px);
  padding: 15px 0 0;
}

/* TreeView Styles */

.treeview {
  border-right: 1px solid #eee;
  font-size: 14px;
  overflow: auto;
  padding: 20px 0 100px;
}

.treeview > ul {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  display: none;
}

li {
  display: block;
  margin: 0;
  padding: 0 0 0 16px;
}

.collapsible-directory {
  cursor: pointer;
}

.collapsible-directory img {
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.expanded > .collapsible-directory img {
  transform: rotate(45deg);
}

.expanded > ul {
  display: block;
}

.item-container {
  border-color: transparent;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  margin: 1px 0 1px .3333em;
  padding: .429em .6667em .429em .5833em;
  line-height: 1.3333em;
  text-decoration: none;
  vertical-align: middle;
}

.item-container--selected,
.item-container:hover,
.item-container:active {
  background-color: #ebebeb;
}

.directory {
  background-image: url(./assets/images/treeview-sprite.png);
  background-position: 0 -16px;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  width: 16px;
  height: 16px;
}

.pdf {
  background-image: url(./assets/images/pdf-icon.png);
  background-size: cover;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin-right: 5px;
}

.pdf-match {
  color: #808080;
  display: block;
  font-size: 12px;
}

.pdf-match.item-container--selected {
  background-color: transparent;
}

.preview-holder {
  width: 400px;
  padding: 20px;
}

.preview-holder img {
  border: 1px solid #7f7f7f;
  cursor: pointer;
  height: initial;
  width: 360px;
  max-height: 600px;
}

.preview-info p {
  margin: 2px 0;
  font-size: 14px;
  text-align: center;
}

.sc-ion-searchbar-md-h {
  padding: 0 0 16px 0;
}

.searchbar-input.sc-ion-searchbar-md {
  border-radius: 24px;
  border: 4px solid #000;
  box-shadow: none;
}

.searchbar-search-icon.sc-ion-searchbar-md {
  color: #000;
  width: 27px;
  height: 27px;
}

.file-item .pdf-icon {
  height: 30px;
  padding: 0 5px 0 0;
  width: 30px;
}

.no-results {
  padding: 15px 0 0;
}

.close-search {
  position: absolute;
  top: 4px;
  right: 20px;
}

.indexing {
  height: 66px;
  display: flex;
  align-items: center;
  position: relative;
}

.indexing > img {
  height: 60px;
  width: 82px;
  border: none;
  position: absolute;
  top: 3px;
}

.match-path,
.match-name {
  width: 700px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
